<!--== Sobre o Evento ===================-->
<section id="features" class="row">
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-map-marker"></div>
            <div class="info">
                <h3>São Paulo</h3>
                <span>Teatro Copi, FIAP.</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-calendar"></div>
            <div class="info">
                <h3>16 de Maio</h3>
                <span>8h as 17h.</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-microphone"></div>
            <div class="info">
                <h3>8 Palestrantes</h3>
                <span>ASP.NET MVP.</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-users"></div>
            <div class="info">
                <h3>400 Lugares</h3>
                <span>Corra, inscreva-se!</span>
            </div>
        </div>
    </div>
</section>

<!--== Programação ===================-->
<section id="schedule" class="row">

    <div class="col-md-5 col-sm-12">
        <h2>ASP.NET Brasil Conference</h2>
        <p>
            Nós acreditamos que a dinâmica do conhecimento é essencial para o crescimento profissional,
            por isso criamos o ASP.NET Brasil Conference. Onde palestrantes influentes garantem um evento com alto nível técnico que desde a primeira edição tem influenciado pessoas e marcado história na comunidade de desenvolvimento Microsoft.
        </p>
        <p>
            Nossa programação está sendo definida, mas os palestrantes já estão confirmados.
        </p>

    </div>
    <div class="col-md-7 col-sm-12">
        <tabset class="content-tabs">
            <tab heading="Manhã">
                <ul class="accordion-group">
                    <li class="accordion">
                        <a class="accordion-toggle">
                            <time>08:00</time>
                            <h4 class="accordion-title">Welcome Coffee</h4>
                            <!--<span class="fa fa-plus-circle pull-right"></span>-->
                        </a>
                        <!--<div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                        </div>-->
                    </li>
                    <li class="accordion">
                        <a class="accordion-toggle">
                            <time>09:00</time>
                            <h4 class="accordion-title">Keynote</h4>
                            <!--<span class="fa fa-plus-circle pull-right"></span>-->
                        </a>
                        <!--<div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                        </div>-->
                    </li>
                    <li class="accordion">
                        <a class="accordion-toggle">
                            <time>09:30</time>
                            <h4 class="accordion-title">Alexandre Tarifa (MVP) / Rodolfo Fadino (MVP)</h4>
                        </a>
                    </li>
                    <li class="accordion">
                        <a class="accordion-toggle">
                            <time>10:10</time>
                            <h4 class="accordion-title">André Baltieri (MVP)</h4>
                        </a>
                    </li>
                    <li class="accordion">
                        <a class="accordion-toggle">
                            <time>10:50</time>
                            <h4 class="accordion-title">Eduardo Pires (MVP)</h4>
                        </a>
                    </li>
                    <li class="accordion">
                        <a class="accordion-toggle">
                            <time>12:10</time>
                            <h4 class="accordion-title">Almoço</h4>
                        </a>
                    </li>
                </ul>
            </tab>
            <tab heading="Tarde">
                <ul class="accordion-group">


                    <li class="accordion">
                        <a class="accordion-toggle">
                            <time>13:30</time>
                            <h4 class="accordion-title">Rodrigo Kono (MVP)</h4>
                        </a>
                    </li>
                    <li class="accordion">
                        <a class="accordion-toggle">
                            <time>14:10</time>
                            <h4 class="accordion-title">Victor Cavalcante (MVP)</h4>
                        </a>
                    </li>
                    <li class="accordion">
                        <a class="accordion-toggle">
                            <time>14:50</time>
                            <h4 class="accordion-title">Waldyr Felix (MVP)</h4>
                        </a>
                    </li>
                    <li class="accordion">
                        <a class="accordion-toggle">
                            <time>15:30</time>
                            <h4 class="accordion-title">Giovanni Bassi (MVP)</h4>
                        </a>
                    </li>
                    <li class="accordion">
                        <a class="accordion-toggle">
                            <time>16:10</time>
                            <h4 class="accordion-title">Encerramento - Sorteio de Prêmios</h4>
                        </a>
                    </li>
                </ul>
            </tab>
        </tabset>
    </div>
</section>

<!--== Palestrantes ===================-->
<section id="speakers" class="row separated">
    <div class="col-sm-12">
        <div class="section-header text-center">
            <h2>Palestrantes</h2>
            <h4>Todos Microsoft MVP.</h4>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img width="220" height="220" src="img/Alexandre-Tarifa.jpg" alt="Alexandre-Tarifa" />
                </div>
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/alexandrectarifa" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/alexandretarifa" class="contact pull-right fa fa-twitter"></a>
                </div>
            </div>
            <h3>Alexandre Tarifa</h3>
            <p>Diretor de Tecnologia na empresa Minha Vida.</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img width="220" height="220" src="img/Andre-Baltieri.jpg" alt="André Baltieri" />
                </div>
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/andre.baltieri" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/andrebaltieri" class="contact pull-right fa fa-twitter"></a>
                </div>
            </div>
            <h3>André Baltieri</h3>
            <p>Engenheiro de Software na empresa BR Soluções Integradas.</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img width="220" height="220" src="img/Eduardo-Pires.jpg" alt="Eduardo Pires" />
                </div>
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/headfox" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/eduardopiresbr" class="contact pull-right fa fa-twitter"></a>
                </div>
            </div>
            <h3>Eduardo Pires</h3>
            <p>Arquiteto de Sistemas e Consultor Independente.</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img width="220" height="220" src="img/Giovanni-Bassi.jpg" alt="Giovanni Bassi" />
                </div>
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/giggio.bassi" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/giovannibassi" class="contact pull-right fa fa-twitter"></a>
                </div>
            </div>
            <h3>Giovanni Bassi</h3>
            <p>Sócio Proprietário na Lambda3 e Microsoft MVP.</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img width="220" height="220" src="img/Rodolfo-Fadino.jpg" alt="Rodolfo Fadino" />
                </div>
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/rodolfo.fadinojunior" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/RodolfoFadino" class="contact pull-right fa fa-twitter"></a>
                </div>
            </div>
            <h3>Rodolfo Fadino</h3>
            <p>Arquiteto de Soluções no MinhaVida e Microsoft MVP.</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img width="220" height="220" src="img/Rodrigo-Kono.jpg" alt="Rodrigo Kono" />
                </div>
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/rodrigokono" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/rodrigokono" class="contact pull-right fa fa-twitter"></a>
                </div>
            </div>
            <h3>Rodrigo Kono</h3>
            <p>Desenvolvedor Especialista em Web e Microsoft MVP.</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img width="220" height="220" src="img/Victor-Cavalcante.jpg" alt="Victor Cavalcante" />
                </div>
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/vccavalcante" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/vcavalcante" class="contact pull-right fa fa-twitter"></a>
                </div>
            </div>
            <h3>Victor Cavalcante</h3>
            <p>Sócio Proprietário na empresa Lambda3.</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img width="220" height="220" src="img/Waldyr-Felix.jpg" alt="Waldyr Felix" />
                </div>
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/waldyrfelix" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/waldyrfelix" class="contact pull-right fa fa-twitter"></a>
                </div>
            </div>
            <h3>Waldyr Felix</h3>
            <p>Consultor Líder na FCamara e Microsoft MVP.</p>
        </div>
    </div>
</section>

<!--== Tabela de preços =============-->
<section id="subscribe" class="row">
    <div class="col-sm-12">
        <div class="section-header text-left">
            <h2>Valores de Inscrição</h2>
            <h4>Iremos fazer um evento épico! Inscreva-se enquanto há vagas.</h4>
        </div>
    </div>
    <ul class="col-sm-3 pricing-features">
        <li>Desconto de 50%</li>
        <li>Desconto de 25%</li>
        <li>Valor sem desconto</li>
    </ul>
    <div class="col-md-3 col-sm-4">
        <div class="pricing-table">
            <h3 class="table-title">Até 15/03</h3>
            <div class="table-price">R$ 100,00</div>
            <ul class="table-features">
                <li class="fa fa-check-circle"><span>50% de desconto</span></li>
                <li class="fa fa-minus-circle"><span>25% de desconto</span></li>
                <li class="fa fa-minus-circle"><span>Sem desconto</span></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="pricing-table">
            <h3 class="table-title">Até 15/04</h3>
            <div class="table-price">R$ 150,00</div>
            <ul class="table-features">
                <li class="fa fa-minus-circle"><span>50% de desconto</span></li>
                <li class="fa fa-check-circle"><span>25% de desconto</span></li>
                <li class="fa fa-minus-circle"><span>Sem desconto</span></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="pricing-table">
            <h3 class="table-title">Até 15/05</h3>
            <div class="table-price">R$ 200,00</div>
            <ul class="table-features">
                <li class="fa fa-minus-circle"><span>50% de desconto</span></li>
                <li class="fa fa-minus-circle"><span>25% de desconto</span></li>
                <li class="fa fa-check-circle"><span>Sem desconto</span></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3 col-sm-offset-3 text-center">
        <a class="btn btn-primary btn-lg btn-block" href="https://www.sympla.com.br/aspnet-brasil-conference---2015__28909" target="_blank">Inscreva-se</a>
    </div>
</section>

<section id="communication" class="row" ng-controller="communicationController as com">
    <div class="col-sm-12">
        <div class="section-header text-left">
            <h2>Comunicação do Evento</h2>
            <h4>Para saber novidades sobre o evento, cadastre-se aqui.</h4>
        </div>
    </div>
    <div class="col-sm-12">
        <form id="subscribe-form" method="post" class="form" ng-submit="com.submit()">
            <div class="col-sm-5 col-xs-12">
                <input name="name" ng-model="com.model.name" type="text" placeholder="Nome" required>
            </div>
            <div class="col-sm-5 col-xs-12">
                <input name="email" ng-model="com.model.email" type="email" placeholder="E-mail" required>
            </div>
            <div class="col-sm-2 col-xs-12">
                <button ng-disabled="com.isBusy" type="submit" class="btn btn-primary btn-lg">
                    {{com.isBusy ? 'Enviando...' : 'Enviar'}}
                </button>
            </div>
            <p class="form-notification" ng-show="com.success">Solicitação enviada!</p>
        </form>
    </div>
</section>

<!--== Mapa Local =============-->
<section id="local" class="row">
    <div class="col-sm-12">
        <div class="section-header text-left">
            <h2>Local do Evento</h2>
            <h4>FIAP - Av. Lins de Vasconcelos, 1264, 8º andar.</h4>
        </div>
    </div>
    <div class="col-sm-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3656.829232075417!2d-46.623255!3d-23.5745759!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce597ac312a633%3A0xa80d7876ff1579b4!2sAv.+Lins+de+Vasconcelos%2C+1264+-+Cambuci%2C+S%C3%A3o+Paulo+-+SP%2C+01538-001!5e0!3m2!1spt-BR!2sbr!4v1424220779369" width="800" height="600" frameborder="0" style="border:0"></iframe>
    </div>
</section>

<!--== Form de Contato =============-->
<section id="contact" class="row" ng-controller="contactController as cont">
    <div class="col-sm-12">
        <div class="section-header text-left">
            <h2>Contato</h2>
            <h4>Entre em contato conosco, responderemos o mais breve possível.</h4>
        </div>
    </div>
    <div class="col-sm-12">
        <form id="contact-form" method="post" class="form" ng-submit="cont.submit()">
            <div class="col-sm-6 col-xs-12">
                <input name="name" ng-model="cont.model.name" type="text" placeholder="Nome" required>
            </div>
            <div class="col-sm-6 col-xs-12">
                <input name="email" ng-model="cont.model.email" type="email" placeholder="E-mail" required>
            </div>

            <div class="col-sm-10 col-xs-12">
                <input name="message" ng-model="cont.model.message" type="text" placeholder="Mensagem" required>
            </div>
            <div class="col-sm-2 col-xs-12">
                <button ng-disabled="cont.isBusy" type="submit" class="btn btn-primary btn-lg">
                    {{cont.isBusy ? 'Enviando...' : 'Enviar'}}
                </button>
            </div>
            <p class="form-notification" ng-show="cont.success">Mensagem enviada!</p>
        </form>
    </div>
</section>



<!--== FAQ =============-->
<section id="faq" class="row">
    <div class="col-sm-12">
        <div class="section-header text-left">
            <h2>Perguntas Frequentes (FAQ)</h2>
            <h4>Tire suas dúvidas sobre o evento.</h4>
        </div>
    </div>
    <div class="col-sm-6">
        <accordion close-others="oneAtATime">
            <accordion-group>
                <accordion-heading>
                    <h4 class="accordion-title">
                        Quando será realizado o evento?
                    </h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </accordion-heading>
                <p>O ASP.NET Brasil Conference 2015 será realizado no dia 16 de maio deste mesmo ano.</p> 
            </accordion-group>
            <accordion-group>
                <accordion-heading>
                    <h4 class="accordion-title">Qual o horário do evento?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </accordion-heading>
                <p>O auditório do ASP.NET Brasil Conference 2015 será aberto pontualmente as 8h da manhã para credenciamento e café da manhã. As palestras irão iniciar as 9h da manhã e irão até as 17h, com intervalo para almoço.</p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>
                    <h4 class="accordion-title">Onde será realizado o evento?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </accordion-heading>
                <p>O ASP.NET Brasil Conference 2015 será no auditório da FIAP que fica na Av. Lins de Vasconcelos, 1264, 8º andar. Veja a seção <em>Localização</em> deste site para ver o mapa do evento.</p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>
                    <h4 class="accordion-title">Quanto custa a inscrição no evento?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </accordion-heading>
                <p>Para obter detalhes sobre os valores do evento, favor acessar a seção <em>Inscrições</em> deste site.</p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>
                    <h4 class="accordion-title">Que serviços não estão inclusos na minha inscrição?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </accordion-heading>
                <p>Na sua inscrição não estão inclusas as despesas com hospedagem, transporte, almoço ou jantar.</p>
            </accordion-group>
           
        </accordion>
    </div>
    <div class="col-sm-6">
        <accordion close-others="oneAtATime">
            <accordion-group>
                <accordion-heading>
                    <h4 class="accordion-title">Como posso realizar minha inscrição?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </accordion-heading>
                <p>Para realizar a inscrição no ASP.NET Brasil Conference 2015, você deve realizar os procedimentos de cadastro e pagamento através <a href="https://www.sympla.com.br/aspnet-brasil-conference---2015__28909" target="_blank">desta página</a>.</p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>
                    <h4 class="accordion-title">Qual o aeroporto mais próximo do evento?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </accordion-heading>
                <p>
                    O aeroporto mais próximo é o Aeroporto de Congonhas que fica cerca de 8,7 KM do local do evento, mas existe o Aeroporto Internacional de Guarulhos (Cumbica) que fica a 27 KM de distância da FIAP.
                </p>
                <p>Para quem optar por descer em Congonhas a melhor opção para chegar ao evento é pegar um táxi.</p>
                <p>
                    Para quem optar descer em Guarulhos existem duas opções mais econômicas que um táxi para chegar até o local do evento:<br/>
                    1) Pegar um ônibus executivo gratuito de translado da companhia aérea (verificar disponibilidade no site da companhia) para Congonhas e de lá pegar um táxi para o evento.
                    <br/>2) Pegar um ônibus executivo da empresa <a href="http://www.airportbusservice.com.br/" target="_blank">Airport Bus Service</a>, descer na Av. Paulista e de lá se deslocar de táxi para o evento.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>
                    <h4 class="accordion-title">Quais os hoteis mais recomendados?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </accordion-heading>
                <p>
                    Os mais recomendados em termos de custo/benefício são: <a href="http://www.accorhotels.com/pt/hotel-3531-ibis-budget-sao-paulo-paraiso/index.shtml" target="_blank">Hotel Ibis Budget</a> e <a href="http://www.hotelestacaoparaiso.com.br/" target="_blank">Hotel Estação Paraíso</a>.
                </p>
                <p>
                    Existem outras opções boas de hoteis que fiquem mais próximos ao evento, que podem ser visto a partir deste <a href="https://goo.gl/maps/H9PVv" target="_blank">mapa</a>.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>
                    <h4 class="accordion-title">Como faço para chegar ao evento?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </accordion-heading>
                <p>
                    É possível chegar ao evento de carro, ônibus ou metrô:
                </p>
                <p>Para quem vai de carro existem algumas opções de estacionamento na própria Av. Lins de Vasconcelos, opções mais próximas são: Lins Estacionamento, Cg Parking e Singular Park.</p>
                <p>Para quem vai de ônibus existem as opções que passam na frente da FIAP, como as linhas: 274P-10, 476G-41, 477A-10, 478P-10, 574A-10, 874T-10, 4111-10, 4112-10, 4113-10 e 4115-10. Para mais informações consulte o site da <a href="http://www.sptrans.com.br/itinerarios/" target="_blank">SP Trans</a>.
                </p>
                <p>Para quem vai de metrô a opação mais próxima é a Estação Ana Rosa da Linha 1-Azul que fica a cerca de 2 KM da FIAP.</p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>
                    <h4 class="accordion-title">Quais as opções de restaurantes mais próximos?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </accordion-heading>
                <p>
                    Existem diversos restaurantes próximos ao local do evento ASP.NET Brasil Conference 2015, veja no <a href="https://goo.gl/maps/YRgl5" target="_blank">mapa</a> quais os restaurantes mais próximos e programe-se.
                </p>
            </accordion-group>
        </accordion>
    </div>
</section>